.wrapper
  background: #FFFFFF
  box-shadow: 0 3px 4px rgba(92, 92, 92, 0.25)
  font-weight: 700
  font-size: 20px
  line-height: 23px
  padding: 8px 16px
.content
  max-width: 900px
  margin: 0 auto
  justify-content: space-between
.content,
.logo,
.list
  display: flex
  align-items: center

.logo
  gap: 16px

.img
  img
    max-width: 100%

.title
  a
    color: #566885

.list
  gap: 27px

.link
  color: #566885
  cursor: pointer
.img
  width: 40px
  height: 40px
  object-fit: cover
  border-radius: 50%
